body {
  background-color: white;
}


#mainMenu {
  margin-bottom: 2em;
}

#interfaceContainer {
   height: 100vh;
}

#builderContainer  {
    height: -webkit-calc(100% - 64px);
    height: calc(100% - (64px + 2em));
}

#stageFrameHeader {
  border: thin solid #039be5 ;
  border-bottom: none;
  background-color: #29b6f6;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  height: 40px;
}

#stageFrame {
  border: thin solid #039be5 ;
  height: calc( 100% - 50px);
  background-color: white;
}

#stageControl {
  padding-top: 1em;
}

#blocklyCol {
  height: 100%;
}

#blocklyCol .row  {
  height: 100%;
}

#blocklyDivHeader {
  border: thin solid #039be5 ;
  border-bottom: none;
  background-color: #29b6f6;
  -webkit-border-top-left-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  height: 40px;
}

#blocklyDiv {
  border: thin solid #039be5 ;
  height: calc( 100% - 50px);
}


/* customize blockly elements */

.blocklyToolboxDiv {
  background-color: #b3e5fc !important;
}
